* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #70B2B2;
}

.input_info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 200px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: #111
}

.app_btn {
    width: 100px;
    height: 30px;
    font-size: 20px;
    color: #111;
    border: 0;
    font-weight: 600;
    cursor: pointer;   
    border-radius: 20px; 
}

.app_btn:active {
    background-color: #0D3B66;
    color: #fff;
    transform: scale(0.95);
}

.app_btn:hover {
    background-color: #0A2A4D; 
    color: #fff;
}


.app_input {
    width: 200px;
    height: 30px;
    font-size: 25px;
    position: relative;
    right: 20px;
}

.app_input:hover {
    border-color: greenyellow;
}

.app__description {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    right: 40px;
}

.result {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 20px auto;
    position: relative;
    bottom: 200px;
}