* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #70B2B2;
}

.input_info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 200px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: #111
}